<!DOCTYPE html>

<!--[if IE 7 ]><html class="ie ie7 lte9 lte8 lte7" lang="en-US"><![endif]-->
<!--[if IE 8]><html class="ie ie8 lte9 lte8" lang="en-US">	<![endif]-->
<!--[if IE 9]><html class="ie ie9 lte9" lang="en-US"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html class="noIE" lang="en-US">
<!--<![endif]-->
<head>
    <title>同济大学软件学院团学联</title>

    <!-- meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="这个网站是同济大学软件学院团学联的官方网站。">
    <meta name="author" content="同济大学软件学院团学联">

    <!-- css -->
    <link rel="stylesheet" href="~/Content/homepage/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/homepage/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/homepage/css/style.css" media="screen" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="assets/js/html5shiv.js"></script>
        <script src="assets/js/respond.js"></script>
    <![endif]-->
    <!--[if IE 8]>
        <script src="assets/js/selectivizr.js"></script>
    <![endif]-->
</head>

<body>
    <div id="drawer-right">
        <div class="cross text-right">
            <a class="toggleDrawer" href="#"><i class="fa fa-times-circle fa-2x"></i></a>
        </div>
        <h2 style="text-align:center">登陆</h2>

        <div class="social contact-form row">
            <div id="log-in" class="col-md-10 col-md-offset-1">
                <form role="form">
                    <div class="styled-input agile-styled-input-top ">
                        <input type="text" name="user-name" required="">
                        <label>账号</label>
                        <span></span>
                    </div>
                    <div class="styled-input agile-styled-input-top">
                        <input type="text" name="user-password" required="">
                        <label>密码</label>
                        <span></span><span></span>
                    </div>
                    <div class="publicity">
                        <button type="submit" class="btn btn-o-white btn-block">登陆</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- #drawer-right -->

    <div id="wrapper">

        <div id="header" class="content-block header-wrapper">
            <div class="header-wrapper-inner">
                <section class="top clearfix container">
                    <div row="row">
                        <div class="pull-left">
                            <h1 class="logo">TJSSESU</h1>
                        </div>

                        <div class="col-xs-8 row">
                            <div class="col-xs-4">
                                <h3><a class="logo nav-news" href="#news">新闻</a></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3><a class="logo nav-feedback" href="#feedback">权益反馈</a></h3>
                            </div>
                            <div class="col-xs-4">
                                <h3><a class="logo nav-footer" href="#footer">关于我们</a></h3>
                            </div>

                        </div>

                        <div class="pull-right">
                            <a class="toggleDrawer" href="#"><i class="fa fa-user fa-2x"></i></a>
                        </div>
                    </div>
                </section>
                <section class="center">
                    <div class="slogan">
                        We are together
                    </div>
                    <div class="secondary-slogan">
                        同济大学软件学院团学联
                    </div>
                </section>
                <section class="bottom">
                    <a id="scrollToContent" href="#">
                        <img src="~/Content/homepage/images/arrow_down.png">
                    </a>
                </section>
            </div>
        </div><!-- header -->

        <div class="content-block" id="news">
            <div class="container">
                <header class="block-heading cleafix">
                    <a href="#" class="btn btn-title btn-lg pull-right">More</a>
                    <h1>新闻</h1>
                </header>
                <section class="block-body">
                    <div class="row">
                        <div class="col-sm-4 blog-post">
                            <a href="index.html" class="recent-work responsible" style="background-image:url(assets/images/flat_icons_thumb.jpg)">
                                <span class="btn btn-o-white">Detail</span>
                            </a>

                            <a href="#">
                                <div class="row col-sm-12 pull-right">
                                    <h4 class="pull-right">Title</h4>
                                </div>

                                <div class="row col-sm-12 pull-right">
                                    <p class="pull-right">yyyy.mm.dd</p>
                                </div>
                            </a>

                        </div>
                        <div class="col-sm-4 blog-post">
                            <a href="index.html" class="recent-work responsible" style="background-image:url(assets/images/min_icons_thumb1-320x240.jpg)">
                                <span class="btn btn-o-white">Detail</span>
                            </a>

                            <a href="#">
                                <div class="row col-sm-12 pull-right">
                                    <h4 class="pull-right">Title</h4>
                                </div>

                                <div class="row col-sm-12 pull-right">
                                    <p class="pull-right">yyyy.mm.dd</p>
                                </div>
                            </a>

                        </div>

                        <div class="col-sm-4 blog-post">
                            <a href="index.html" class="recent-work responsible" style="background-image:url(assets/images/rain_1-320x240.jpg)">
                                <span class="btn btn-o-white">Detail</span>
                            </a>

                            <a href="#">
                                <div class="row col-sm-12 pull-right">
                                    <h4 class="pull-right">Title</h4>
                                </div>

                                <div class="row col-sm-12 pull-right">
                                    <p class="pull-right">yyyy.mm.dd</p>
                                </div>
                            </a>


                        </div>
                    </div>
            </div>
            </section>
        </div>
    </div><!-- #blog -->

    <div class="content-block" id="feedback">
        <div class="container">
            <header class="block-heading cleafix">
                <h1>权益反馈</h1>
            </header>
            <section class="block-body">
                <div class="container pull-left">
                    <div class="col-xs-6 container pull-left">
                        <div class="row" style="padding: 0 0 20px 0">

                            <div class="col-xs-6 pull-left">
                                <h2 class="pull-left">权益之声</h2>
                            </div>
                            <div class="col-xs-6 pull-left">
                                <a href="#" class="btn btn-o pull-right">了解更多</a>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-10 ">
                                <h4>反馈内容</h4>
                                <p>some text</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1">
                            </div>
                            <div class="col-xs-10 ">
                                <h4>学生会回复</h4>
                                <p>some text</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <div class="row">
                            <div class="col-xs-6">
                                <h2>你的声音</h2>
                            </div>
                        </div>

                        <div class="row contact-form">
                            <form action="#" method="post">
                                <div class="col-xs-6 pull-left">
                                    <div class="styled-input agile-styled-input-top">
                                        <input type="text" name="Name" required="">
                                        <label>姓名</label>
                                        <span></span>
                                    </div>
                                    <div class="styled-input agile-styled-input-top">
                                        <input type="text" name="id" required="">
                                        <label>学号</label>
                                        <span></span>
                                    </div>
                                    <div class="styled-input agile-styled-input-top">
                                        <input type="text" name="contactway" required="">
                                        <label>联系方式</label>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="styled-input agileits-input">
                                        <textarea name="Message" required=""></textarea>
                                        <label>反馈内容</label>
                                        <span></span>
                                    </div>
                                </div>
                                <div class="pull-right">
                                    <button type="submit" class="btn btn-o">Submit</button>
                                </div>
                            </form>

                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div><!-- #feedback -->

    <div class="content-block" id="footer">
        <div class="container">
            <header class="block-heading cleafix">
                <h1>关于我们</h1>
            </header>
            <section class="block-body">
                <div class="container pull-left">
                    <div class="col-xs-4 container pull-left">
                        <div class="row" style="padding: 0 0 20px 0">

                            <div class="col-xs-6 pull-left">
                                <h2 class="pull-left">组织架构</h2>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 publicity">
                                <h4>文艺部</h4>
                            </div>
                            <div class="col-xs-12 publicity">
                                <h4>体育部</h4>
                            </div>
                            <div class="col-xs-12 publicity">
                                <h4>宣传部</h4>
                            </div>
                            <div class="col-xs-12 publicity">
                                <h4>组织部</h4>
                            </div>
                            <div class="col-xs-12 publicity">
                                <h4>外联部</h4>
                            </div>
                            <div class="col-xs-12 publicity">
                                <h4>学术部</h4>
                            </div>
                            <div class="col-xs-12 publicity">
                                <h4>秘书处</h4>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-4 container pull-left">
                        <div class="row" style="padding: 0 0 20px 0">

                            <div class="col-xs-6 pull-left">
                                <h2 class="pull-left">联系方式</h2>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 publicity">
                                <h4>地址：上海市曹安公路4800号 同济大学济世楼509</h4>
                            </div>
                            <div class="col-xs-12 publicity">
                                <h4>公共邮箱：tjssesu@163.com</h4>
                            </div>

                        </div>

                    </div>

                    <div class="col-xs-4 container pull-left">
                        <div class="row" style="padding: 0 0 20px 0">

                            <div class="col-xs-6 pull-left">
                                <h2 class="pull-left">学院官网</h2>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-xs-12 publicity">
                                <h4>sse.tongji.edu.cn</h4>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

        </div>
    </div><!-- #footer -->
    </div><!--/#wrapper-->

    <script src="assets/js/jquery-2.1.3.min.js"></script>
    <script src="assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.actual.min.js"></script>
    <script src="assets/js/jquery.scrollTo.js"></script>
    <script src="assets/js/script.js"></script>

</body>
</html>
